/* Reset default margin and padding for a consistent layout */
body {
  font-family: Roboto, Inter, Nunito, Figtee, Arial;
  margin: 0;
  padding: 0;
  text-align: center;
  word-spacing: 1px;
  background-color: #F0E7D8;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #F0E7D8;
  border-bottom: 1px solid #ddd;
}

/* Logo Styling */
.logo {
  max-width: 100px;
  max-height: 60px;
}

/* Navigation Bar styling */
nav {
  background-color: #8260A9;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #F0E7D8;
}

/* Main Content Section Styling */
.mainpage {
  background-color: #F0E7D8;
  color: black;
  padding: 20px;
}

.content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #2c3e50;
}

.content h2 {
  color: #333;
  font-size: 30px;
}

.content p {
  color: #666;
  font-size: 20px;
  line-height: 1.5;
  max-width: 80%;
  margin: 0 auto;
}

/* Section Styling */
.section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 90%;
  background-color: #BCAA99;
  flex-wrap: wrap; /* Allows wrapping of content on smaller screens */
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 15px;
}

/* Partners Section */
.partners-header {
  text-align: center;
  margin-top: 40px;
  color: #333;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partner-card {
  width: 45%;
  text-align: center;
  margin: 15px;
  padding: 20px;
  background-color: #BCAA99;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.partner-card h4 {
  margin-top: 0;
  font-size: 1.3em;
}

.partner-card img {
  width: 140px;
  height: auto;
  margin-bottom: 10px;
}

/* Support Us Section */
.support-us {
  background-color: #F0E7D8;
  padding: 60px 20px;
  color: white;
  line-height: 1.7;
}

.support-us .container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #BCAA99;
  padding: 30px;
 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.support-us h2 {
  text-align: center;
  font-size: 2.8em;
  font-weight: bold;
  color: black;
  margin-bottom: 30px;
}

.support-us h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: black;
}

.support-us h5 {
  font-size: 1.2em;
  font-weight: bold;
  color: #8260A9;
  margin-top: 15px;
}

.support-us .cta-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #BCAA99;
  color: black;
  text-decoration: none;
  font-weight: bold;
 
  text-align: center;
  transition: background-color 0.3s ease;
}

.support-us .cta-btn:hover {
  background-color: #8260A9;
}

/* Dates & Fees Section */
.dates-and-fees {
  background-color: #F0E7D8;
  color: black;
  padding: 20px;
  line-height: 1.4;
}

.dates-and-fees h1, h2 {
  color: black;
  font-size: 28px;
  margin-bottom: 15px;
}

.dates-and-fees table {
  width: 100%;
 
  margin-top: 20px;
  font-size: 20px;
}

.dates-and-fees table, th, td {
  border: 1px solid #8260A9;
}

.dates-and-fees th, td {
  padding: 12px;
  text-align: center;
}

.dates-and-fees th {
  background-color: #8260A9;
  color: white;
  font-size: 20px;
}

.dates-and-fees ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
}

.dates-and-fees ul li {
  padding: 5px 0;
  font-size: 20px;
}

.dates-and-fees h2, h4, ul, h5 {
 
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  background-color: #BCAA99;
  font-size: 20px;
}

/* Footer Styling */
footer {
  background-color: #8260A9;
  color: white;
  padding: 20px;
  position: relative;
  font-size: 20px;
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    align-items: center;
  }

  .partner-card {
    width: 80%;
    margin: 10px 0;
  }

  nav a {
    font-size: 16px;
  }

  .content h2 {
    font-size: 26px;
  }

  .content p {
    font-size: 18px;
  }
}
