/* Reset default margin and padding for a consistent layout */
body{
  font-family: roboto, inter, nunito, figtee, arial;
  margin: 0;
  padding: 0;
  text-align: center;
  word-spacing: 1px;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #F0E7D8;
  border-bottom: 1px solid #ddd;
}

/* Logo Styling */
.logo{
  max-width: 100px;
  max-height: 60px; /* Ensure the logo doesn't stretch */
}

/* Navigation Bar styling */
nav {
  background-color: #8260A9;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

/* Main Content Section Styling */
.mainpage {
  background-color: #F0E7D8;
  color: black;
  padding:
